@font-face {
  font-family: 'pico-8';
  src: url('font/pico-8-webfont.woff') format('woff'),
       url('font/pico-8-webfont.woff2') format('woff2'),
       url('font/pico-8.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 8px;
  padding: 8px;

  width: 100vw - 8px;
  height: 100vh - 8px;

  font-family: 'pico-8';
  line-height: 1.25;
  background-color: #000;
}

.bootup {
  color: #c2c3c7;
}

.content {
  color: #fff1e8;
}

.content a:link, a:visited, a:active {
  color: #29adff;
  text-decoration: none;
}

.content a:hover {
  color: #fff1e8;
}

img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}